.main-panel {
  font-family: '"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif';
  font-weight: 300;
}

.header {
  background-color: '#03a9f4';
  color: 'white';
  padding: 16px;
  font-size: 1.5em;
}

.sidebar {
  width: 256;
  height: 100%;
}
